header {
    background-color: #03273c;
    color: #FFFFFF;
    border-bottom: 0.5px solid #FFFFFF;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}
.choice-menu {
    display: flex;
    justify-content: center;
    background-color: #03273c;
    border-bottom: 0.5px solid #FFFFFF;

}

.btn {
    display: inline-block;
    background-color: #03273c;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    height: 50px;
    width: 200px;
    color: #FFFFFF;
    margin: 0px;
}


h1 {
    margin: 0;
    padding-right: 10px; /* Space between text and line */
    padding-left: 10px;
}

.vertical-line {
    border-left: 2px solid white;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid white
}
