header {
    background-color: #03273c;
    color: #FFFFFF;
    border-bottom: 0.5px solid #FFFFFF;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.choice-menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #FFFFFF;

}

.btn {
    display: inline-block;
    background-color: #03273c;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    height: 50px;
    width: 200px;
    color: #FFFFFF;

}


h1 {
    margin: 0;
    padding-right: 10px; /* Space between text and line */
    padding-left: 10px;
}

body {
    background-color: #03273c;
}

.vertical-line {
    border-left: 2px solid white;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
