header {
    background-color: #03273c;
    color: #FFFFFF;
    border-bottom: 0.5px solid #FFFFFF;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body {
    background-image: linear-gradient(to top, #03273c 0%, #000000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}
.choice-menu {
    display: flex;
    justify-content: center;
    background-color: #000000;
    border-bottom: 0px;

}

.btn {
    display: inline-block;
    background-color: #03273c;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    height: 50px;
    width: 200px;
    color: #FFFFFF;
    margin: 0px;
}


h1 {
    margin: 0;
    padding-right: 10px; /* Space between text and line */
    padding-left: 10px;
}

.vertical-line {
    border-left: 2px solid white;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 1px solid white
}

th {
    padding-top: 30px;
    padding-bottom: 30px;
}
tr:last-child td {
    border-bottom: none;
}
