/*
--ink-black: #03071e; rgb(3, 7, 30);
--bright-lemon: #f6ea00ff; rgb(246, 234, 0);
--dry-sage: #b4b16bff; rgb(180, 177, 107)
--graphite: #313030ff; rgb(49, 48, 48)
--charcoal: #484848ff; rgb(72, 72, 72)
--silver: #a5a4a4ff; rgb(165, 164, 164)
--silver-2: #bcbebdff; rgb(188, 190, 189)
--alabaster-grey: #e6e6e6ff; rgb(230, 230, 230)
*/



/* Global Styles */

p {}
h1 {
}
h2{}
h3{}

body {
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    grid-template-areas:
    "h"
    "m"
    "f"
    ;
    background: #313030;
    background: linear-gradient(0deg,
                                rgba(49, 48, 48, 1) 0%,
                                rgba(87, 199, 133, 1) 35%,
                                rgba(246, 234, 0, 0.3) 50%,
                                rgba(87, 199, 133, 1) 65%,
                                rgba(3, 7, 30, 1) 100%);
    min-height: 100vh;
    margin: 0;
}


table {
    width: 80vw;
    max-width: 1920px;
    margin:5em auto;
    border-collapse: separate;
    border-spacing: 0;
    background: rgba(205, 205, 204, 1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #313030;
}

th, td {
    text-align: center;
    color: #484848ff;
    padding: 1em 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

th {
    padding: 1em 1em;
    color: #313030;
    font-weight: extra-bold;
    font-size: 30px;
}

tr:last-child td {
    border-bottom: none;
}



/* Header and Navigation */

header{
    grid-area: "h";
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
    background-color: #313030ff;
    color: #e6e6e6;
    padding: 0 0.5em;
    border-bottom: 1px solid #484848 ;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(49, 48, 48, 0.85);
    border-bottom: 1px solid #484848;
}

.nav-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 0;
    height: 50px;
    flex: 1;
    color: #e6e6e6ff;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: none;
    color: #ffffff;
    box-shadow: inset 0 0 10px #e6e6e6ff;
}

.nav-btn.active {
    background-color: rgb(246, 234, 0);
    color: #313030;
}



.vertical-line {
    border-left: 2px solid #e6e6e6ff;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}



main{
    grid-area: "m";
}
/* Home Section */

.home-container {
    display: grid;
}

.home-container h1 {
    font-size: 6rem;
    color: rgb(246, 234, 0);
}

.home-container h2 {
    font-size: 3rem;
    color:  rgb(246, 234, 0);
}



/* Footer */

footer{
    grid-area: "f";
    display: flex;
    width:100%;
    min-height: 9em;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #313030;
    
}
