/*
--ink-black: #03071e; rgb(3, 7, 30);
--bright-lemon: #f6ea00ff; rgb(246, 234, 0);
--dry-sage: #b4b16bff; rgb(180, 177, 107)
--graphite: #313030ff; rgb(49, 48, 48)
--charcoal: #484848ff; rgb(72, 72, 72)
--silver: #a5a4a4ff; rgb(165, 164, 164)
--silver-2: #bcbebdff; rgb(188, 190, 189)
--alabaster-grey: #e6e6e6ff; rgb(230, 230, 230)
*/

body {
    background-color: #03071e;
    opacity: 1;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(
        45deg,
        #727272 0,
        #727272 0.4px,
        #03071e 0,
        #03071e 50%
    );
    min-height: 100vh;
    margin: 0;
}

#header-title {
    background-color: #313030;
    color: #e6e6e6ff;
    border-bottom: 0px solid #ffffff;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(49, 48, 48, 0.85);
    border-bottom: 0px solid #ffffff;
}

.nav-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 0;
    height: 50px;
    flex: 1;
    color: #e6e6e6ff;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: none;
    color: #ffffff;
    box-shadow: inset 0 0 10px #e6e6e6ff;
}

.nav-btn.active {
    background-color: rgb(246, 234, 0);
    color: #313030;
}

h1 {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.vertical-line {
    border-left: 2px solid #e6e6e6ff;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

table {
    width: 80vw;
    max-width: 1920px;
    margin: 5em auto;
    border-collapse: separate;
    border-spacing: 0;
    background: rgba(205, 205, 204, 1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #313030;
}

th,
td {
    text-align: center;
    color: #484848ff;
    padding: 1em 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

th {
    padding: 30px 60px;
    color: #313030;
    font-weight: extra-bold;
    font-size: 30px;
}
tr:last-child td {
    border-bottom: none;
}
